@use "./common-variables" as *;

@each $type in margin, padding {
  $size-map: (
    base: $spacing-base,
    medium: $spacing-medium,
    large: $spacing-large,
  );

  @each $size in base, medium, large {
    .#{$type}-#{$size} {
      #{$type}: map-get($size-map, $size);
    }
  }

  @each $direction in top, right, bottom, left {
    @each $size in base, medium, large {
      .#{$type}-#{$direction}-#{$size} {
        #{$type}-#{$direction}: map-get($size-map, $size);
      }
    }
  }
}

.full {
  width: 100%;
  height: 100%;

  &-h {
    height: 100%;
  }

  &-w {
    width: 100%;
  }
}

.text {
  &-r {
    text-align: right;
  }

  &-c {
    text-align: center;
  }

  &-l {
    text-align: left;
  }
}

[class^="fl"] {
  display: flex;
}

.fl {
  &-c {
    justify-content: center;
    align-items: center;
  }

  &-bt {
    align-items: center;
    justify-content: space-between;
  }

  &-wp {
    flex-wrap: wrap;
  }

  &-cl {
    flex-direction: column;
  }

  &-1 {
    flex: 1;
  }

  &-at {
    @extend .full;
    &__f {
      flex: none;
    }
    &__c {
      flex: 1;
    }
  }
}

.cl {
  &-p {
    color: $color-primary;
  }
  &-w {
    color: $color-warning;
  }
  &-s {
    color: $color-success;
  }
  &-i {
    color: $color-info;
  }
  &-d {
    color: $color-danger;
  }
}
